

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
    
}


*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    
    font-family: 'Marvel', sans-serif;   
     background-color: #FFFBC9;
    color: #000;
    margin: 0;
    padding: 0;
}

h2{
    font-size: 2.2rem ;
    font-weight: 700;
}
/* Estilos del Header */
.header {
    text-align: center;
    padding: 1rem 0;
    background-color: #FCE8BF;
}

.header__logo img {
    max-width: 25rem; 
    height: auto;
}

.header__nav {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

/* Estilos para los botones de las banderas */
.nav__flag-button {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
}


.nav__flag {
    width: 2rem;
    height: 2rem;
}

/* Estilos para la Barra de Navegación */
.navbar {
    background-color: #FCE8BF; /* Color de fondo, ajusta según tus preferencias */
    text-align: center;
    padding: 1rem 0;
}

.navbar__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navbar__list li {
    margin: 5px 10px;
}

.navbar__list a {
    text-decoration: none;
    color: #000000;
    font-size: 1.6rem;
    transition: color 0.3s;
}

.navbar__list a:hover {
    color: #FF0000;
}

/* Estilos Responsivos */
@media screen and (max-width: 768px) {
    .navbar__list {
        flex-direction: column;
    }

    .navbar__list li {
        margin: 5px 0;
    }
}

@media screen and (max-width: 480px) {
    .navbar__list a {
        font-size: 1.4rem;
    }
}

/* Estilos para el cuadro de texto (tooltip) */
.flag-tooltip {
    display: none;
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5rem;
    background-color: #333;
    color: #fff;
    font-size: 0.8rem;
    border-radius: 4px;
    white-space: nowrap;
}

/* Estilo para mostrar el tooltip al hacer hover */
.nav__flag-button:hover .flag-tooltip {
    display: block;
}

/* Estilos para la transición del tooltip */
.flag-tooltip {
    transition: opacity 0.3s, visibility 0.3s;
    opacity: 0;
    visibility: hidden;
}

.nav__flag-button:hover .flag-tooltip {
    opacity: 1;
    visibility: visible;
}


/* Estilos del Menú Principal */
.menu {

    display: flex;
    border-left: 1px solid #000; 
}

.menu__section {
    flex: 1;
    padding: 2rem;
}

.menu__section--left {
    border-right: 1px solid #000;
}


.menu__list {
    list-style: none;
    padding: 0;
}

.menu__item {
    margin-bottom: 1rem;
    font-size: 1.8rem; 
    line-height: 1.5;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-right: 10rem; /* Espacio para el precio */
}

a{
    color: #000;
    text-decoration: none;
    
}

a:hover{
    color: rgb(97, 96, 96);
}
/* Estilos del Footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #FCE8BF;
}

.footer__logo img {
    max-width: 50px; 
}

.footer__copyright {
    margin: 0; /* Centrado y sin margen */
    font-size: 1rem;
}

.footer__page-number {
    font-size: 1.4rem; /* 14px */
}

/* Estilos Responsivos para Celulares y Tablets */



@media screen and (max-width: 768px) {
    .menu {
        flex-direction: column;
        border-left: none;
    }

    .menu__section {
        border-right: none;
        border-bottom: 1px solid #000; /* Línea divisoria entre secciones */
    }

    .menu__section:last-child {
        border-bottom: none; /* Elimina la línea divisoria en la última sección */
    }

    .header__nav {
        top: 0.5rem;
        right: 0.5rem;
    }

    .nav__flag {
        width: 1.9rem;
        height: 1.9rem;
    }

   

    .footer__logo img {
        max-width: 5rem; /* Ajusta el tamaño del logo en el footer */
    }

    .footer__page-number {
        font-size: 1.2rem; /* 12px */
    }

    .header__logo img {
        max-width: 13rem;
    }

   
   
}


@media screen and (max-width: 480px) {
    .header__nav {
        top: 0.5rem;
        right: 0.5rem;
    }

    .nav__flag {
        width: 1.6rem;
        height: 1.6rem;
    }

    .nav__flag-button {
        margin-right: -0.2rem; 
    }

    .flag-tooltip {
        bottom: auto;
        top: 100%; 
    }

    
    .footer__page-number {
        font-size: 1.2rem; 
    }




}



